--extra-index-url https://download.pytorch.org/whl/cpu
faiss-cpu
django
djangorestframework
gunicorn
ipykernel
IProgress
langchain
loguru
pandas
pip-tools
pre-commit
pydantic
python-dotenv
sentence_transformers
torch